<mat-card class="mat-elevation-z0">
    <mat-card-title> Проверка списков НГ и ДР </mat-card-title>

    <br />

    <mat-card-actions>

        <div>
            <button class="submit" (click)="checkDoubles(index1)" mat-raised-button color='primary'
                [disabled]="!isFirst">Проверить на дубли</button>
            <p> {{checkingHouse1}}</p>
            <button class="submit" (click)="checkDoubles(index1)" mat-raised-button color='primary'
                [disabled]="!isNext">Следующий</button>

        </div>
        <br /> <br />
        <div>
            <button class="submit" (click)="checkFullness(index2)" mat-raised-button color='primary'
                [disabled]="!isFirst2">Проверить на полноту</button>
            <p> {{checkingHouse2}}</p>
            <button class="submit" (click)="checkFullness(index2)" mat-raised-button color='primary'
                [disabled]="!isNext2">Следующий</button>

        </div>
        <br /> <br />
        <div>
            <button class="submit" (click)="checkDoublesHB(index3)" mat-raised-button color='primary'
                [disabled]="!isFirst">Проверить на дубли ДР</button>
            <p> {{checkingHouse3}}</p>
            <button class="submit" (click)="checkDoublesHB(index3)" mat-raised-button color='primary'
                [disabled]="!isNext">Следующий</button>

        </div>

        <br /> <br />
        <div>
            <button class="submit" (click)="checkFullnessHB(index4)" mat-raised-button color='primary'
                [disabled]="!isFirst2">Проверить на полноту ДР</button>
            <p> {{checkingHouse4}}</p>
            <button class="submit" (click)="checkFullnessHB(index4)" mat-raised-button color='primary'
                [disabled]="!isNext2">Следующий</button>

        </div>

        <br /> <br />
        <div>
            <button class="submit" (click)="checkFullnessHolidays(index5, 'february23')" mat-raised-button
                color='primary' [disabled]="!isFirst2">Проверить на полноту 23 февраля</button>
            <p> {{checkingHouse5}}</p>
            <button class="submit" (click)="checkFullnessHolidays(index5, 'february23')" mat-raised-button
                color='primary' [disabled]="!isNext2">Следующий</button>

        </div>

        <br /> <br />
        <div>
            <button class="submit" (click)="checkFullnessHolidays(index5, 'march8')" mat-raised-button color='primary'
                [disabled]="!isFirst2">Проверить на полноту 8 марта</button>
            <p> {{checkingHouse5}}</p>
            <button class="submit" (click)="checkFullnessHolidays(index5, 'march8')" mat-raised-button color='primary'
                [disabled]="!isNext2">Следующий</button>

        </div>

    </mat-card-actions>

    <!--   <mat-card-content *ngIf="isShowList">
        <p>Общее количество - {{listLength}}</p>
        <p>oldWomen - {{oldWomen}}</p>
        <p>oldMen - {{oldMen}}</p>
        <p>yang - {{yang}}</p>
        <p>special - {{special}}</p>
        <p>oldest - {{oldest}}</p>
        <p>Общее количество с запасом - {{listLength+oldest}}</p>
    

        <mat-list *ngFor="let person of lists">

                <mat-list-item>{{person.plusAmount}} {{person.lastName}} {{person.firstName}} {{person.patronymic}}
                    {{person.fullDayBirthday}} {{person.comment1}}
                    {{person.specialComment}} {{person.linkPhoto}} {{person.category}} 
                    {{person.noAddress}} {{person.oldest}} {{person.gender}} {{person.nursingHome}} <span style= "color: red;"*ngIf="person.absent"> ВЫБЫЛ(А)</span></mat-list-item>

        </mat-list>

    </mat-card-content> -->
</mat-card>