<!--
============================================
 html code to create  seniors.
===========================================
-->
<div fxLayout="column" class = "main">
  <mat-card class="mat-elevation-z0">
    <mat-card-title> Add a New Senior </mat-card-title>

    <br />

    <form [formGroup]="form" (ngSubmit)="createSenior()" #seniorForm>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="10px">
          <mat-form-field>
            <input type="text" matInput [formControl]="form.controls['region']"
              placeholder="Регион*"  />
            <mat-error class="error"
              *ngIf="form.controls.region.hasError('required') && form.controls.region.touched">Обязательное
              поле!</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput [formControl]="form.controls['nursingHome']" placeholder="Интернат*"
               />
            <mat-error class="error" *ngIf="form.controls.nursingHome.hasError('required') && form.controls.nursingHome.touched">
              Обязательное поле!</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput [formControl]="form.controls['lastName']" placeholder="Фамилия"
               />
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput [formControl]="form.controls['firstName']"
              placeholder="Имя*"  />
              <mat-error class="error" *ngIf="form.controls.firstName.hasError('required') && form.controls.firstName.touched">
                Обязательное поле!</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput [formControl]="form.controls['patronymic']"
              placeholder="Отчество"  />
          </mat-form-field>
      
            <mat-slide-toggle [formControl]="form.controls['isRestricted']" >Не поздравлять</mat-slide-toggle>

            <mat-form-field>
              <input type="text" matInput [formControl]="form.controls['dateBirthday']"
                placeholder="День рождения"  />  
            </mat-form-field>

            <mat-form-field>
              <input type="text" matInput [formControl]="form.controls['monthBirthday']"
                placeholder="Месяц рождения"  />  
            </mat-form-field>

            <mat-form-field>
              <input type="text" matInput [formControl]="form.controls['yearBirthday']"
                placeholder="Год рождения"  />  
            </mat-form-field>

         
              <label>
                <input type="radio" value="Male"  [formControl]="form.controls['gender']">
                  <span>м</span>
              </label>
              <label>
                <input type="radio" value="Female"  [formControl]="form.controls['gender']">
                  <span>ж</span>
              </label>

<!--             <mat-radio-group #rGroup [formControl]="form.controls['gender']">
              <mat-radio-button radioGroup="rGroup" value="m">м</mat-radio-button>
              <input type="text" [formControl]="form.controls['gender']">
              <mat-radio-button radioGroup="rGroup" value="w" >ж</mat-radio-button>
              <input type="text" [formControl]="form.controls['gender']">
            </mat-radio-group> -->
     
            <mat-form-field>
              <input type="text" matInput [formControl]="form.controls['comment1']"
                placeholder="Комментарий1"  />  
            </mat-form-field>

            <mat-form-field>
              <input type="text" matInput [formControl]="form.controls['comment2']"
                placeholder="Комментарий2"  />  
            </mat-form-field>

            <mat-form-field>
              <input type="text" matInput [formControl]="form.controls['linkPhoto']"
                placeholder="Фото"  />  
            </mat-form-field>

            <mat-form-field>
              <input type="text" matInput [formControl]="form.controls['nameDay']"
                placeholder="Именины"  />  
            </mat-form-field>

            
            <mat-form-field>
              <input type="text" matInput [formControl]="form.controls['dateNameDay']"
                placeholder="День именин"  />  
            </mat-form-field>

            
            <mat-form-field>
              <input type="text" matInput [formControl]="form.controls['monthNameDay']"
                placeholder="Месяц именин"  />  
            </mat-form-field>

        </div>
      </mat-card-content>

      <br />
      <mat-card-actions>
        <button mat-raised-button (click)="cancel()" color="primary">Cancel</button>
        <button type="submit" mat-raised-button color="accent" [disabled]="!form.valid">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
