.contact-div {
  padding-top: 100px;
  max-width: 80%;
  margin: 0 auto;
 
  
}

.contact-container {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
  border: 2px solid #fbc02d;
 
}

