<!--
============================================
; Title:  Contact component
; Author: Professor Krasso
; Date:   April 29, 2022
; Modified by: House Gryffindor
; Description: contact component page
;===========================================
-->

<div fxFlex>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="contact-div">
    <mat-card class="mat-elevation-z4 contact-container">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content>
        <p>1234 Peachtree Street.</p>
        <p>Atlanta, GA, 30303</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z4 contact-container">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content>
        <p>Work: 404-123-4567</p>
        <p>Cell: 678-123-4657</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
