/**
============================================
 style
;===========================================
*/

mat-card-title {
    text-align: center;
  }
  
  mat-card-subtitle {
    margin: auto;
    text-align: center;
  }
  
  .icon-cursor {
    cursor: pointer;
  }
  
  div {
    width: 95%;
    margin: auto;
  }
  
  .orange {
    color: #FBC02D;
  }

.mat-column-orderDate,
.mat-column-isAccepted,
.mat-column-date
 {
  min-width: 70px;
}

.mat-column-contact {
  min-width: 250px;
}

table {
  width: 100%;
}