<!--
============================================
 html code for Component
===========================================
-->
<br />
<br />
<div fxLayout="column">
    <mat-card>
        <mat-card-title>Список заявок координатора {{ userName }}</mat-card-title>
        <br /><br />
        <p-toast position="center"></p-toast>
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

        <mat-card-subtitle>
            <!--             <button mat-stroked-button color="primary" routerLink="/dataSource/create/new">
                Новая заявка
            </button> -->
            <button *ngIf="isShowAll" mat-raised-button color="accent" (click)="changeShow()">
                Скрыть подтвержденные
            </button>
            <button *ngIf="!isShowAll" mat-raised-button color="primary" (click)="changeShow()">
                Показать все
            </button>
        </mat-card-subtitle>
        <br />
        <br />
        <mat-card-content>

            <mat-table [dataSource]="dataSource" class="mat-elevation-z4" matSort matSortActive="orderDate"
                matSortDisableClear matSortDirection="desc">

                <ng-container matColumnDef="orderDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Дата </mat-header-cell>
                    <mat-cell *matCellDef="let dataSource"> {{ dataSource.orderDate}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef> Кол-во адресов </mat-header-cell>
                    <mat-cell *matCellDef="let dataSource"> {{ dataSource.amount }} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef> Поздравляющий </mat-header-cell>
                    <mat-cell *matCellDef="let dataSource"> {{(dataSource.clientFirstName
                        ? dataSource.clientFirstName
                        : "") + " " + (dataSource.clientPatronymic
                        ? dataSource.clientPatronymic
                        : "") + " " + (dataSource.clientLastName
                        ? dataSource.clientLastName
                        : "") + " " + (dataSource.institute
                        ? dataSource.institute
                        : "") }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="contact">
                    <mat-header-cell *matHeaderCellDef> Контактная информация </mat-header-cell>
                    <mat-cell *matCellDef="let dataSource"> {{ dataSource.email ? dataSource.email :
                        dataSource.contactType + " " +
                        dataSource.contact}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="isAccepted">
                    <mat-header-cell *matHeaderCellDef> Статус </mat-header-cell>

                    <mat-cell *matCellDef="let dataSource">
                        <span *ngIf="dataSource.isAccepted && !dataSource.isOverdue && !dataSource.isReturned">подтверждена</span>
                        <span *ngIf="!dataSource.isAccepted && !dataSource.isOverdue && !dataSource.isReturned">ожидает подтверждения</span>
                        <span *ngIf="dataSource.isReturned">аннулирована (отказ)</span>
                        <span *ngIf="dataSource.isOverdue">аннулирована (просрочена)</span>
                    </mat-cell>


                </ng-container>

                <!-- Confirm Column -->
                <ng-container matColumnDef="confirm">
                    <mat-header-cell *matHeaderCellDef> Подтвердить </mat-header-cell>
                    <mat-cell *matCellDef="let dataSource">
                        <button mat-icon-button disabled *ngIf="dataSource.isAccepted">
                            <mat-icon> check_circle</mat-icon>
                        </button>
                        <button color="warn" mat-icon-button *ngIf="!dataSource.isAccepted"
                            (click)="confirmOrder(dataSource._id, isShowAll )">
                            <mat-icon> check_circle</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>


                <!-- Edit Column -->
                <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef> Открыть </mat-header-cell>
                    <mat-cell *matCellDef="let dataSource">
                        <mat-icon class="icon-cursor" routerLink="/orders/order/{{ dataSource._id }}" color="primary">
                            pageview
                        </mat-icon>
                    </mat-cell>
                </ng-container>

                <!-- Delete Column -->
                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef> Аннулировать</mat-header-cell>
                    <mat-cell *matCellDef="let dataSource">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="orange">delete</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item
                                (click)="moveToOverdue(dataSource._id, isShowAll, dataSource.isAccepted )">
                                <mat-icon>timer</mat-icon>
                                <span>истек срок</span>
                            </button>
                            <button mat-menu-item (click)="moveToReturned(dataSource._id, isShowAll)">
                                <mat-icon>assignment_returned</mat-icon>
                                <span>отказ</span>
                            </button>
                            <button mat-menu-item (click)="moveToDisabled(dataSource._id, isShowAll)">
                                <mat-icon>error</mat-icon>
                                <span>ошибка</span>
                            </button>
                        </mat-menu>

                        <!--                         <button mat-icon-button (click)="deleteOrder(dataSource._id, isShowAll)">
                            <mat-icon class = "orange">delete</mat-icon>
                        </button> -->
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="holiday">
                    <mat-header-cell *matHeaderCellDef> Праздник </mat-header-cell>
                    <mat-cell *matCellDef="let dataSource"> {{ dataSource.holiday }} </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <!--             <mat-paginator [pageSizeOptions]="[10, 15, 20]"
            showFirstLastButtons 
            >
</mat-paginator> -->

            <mat-paginator #paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>

    </mat-card>
</div>