<!--
============================================
; Title: WEB450 Bob's Computer Repair SHop
; Author: Professor Krasso
; Date: April 23, 2022
; Modified By: House Gryffindor
; Description: Bob's Computer Repair Shop App html code for ConfirmationDialogComponent.
===========================================
-->
<div fxLayout="column">
    <h1 mat-dialog-title>Confirmation</h1>
    <div mat-dialog-content>
        {{ message}}
        <br />
        
        <button mat mat-raised-button matDialogClose="confirm" class="submit">OK</button>
    </div>
</div>