<!--
============================================
 html code to create a new client.
===========================================
-->

<div fxLayout="column" style="padding-top: 30px" class="main">
    <mat-card class="mat-elevation-z0" style="width: 800px; margin: auto;">
        <mat-card-title> Карточка поздравляющего </mat-card-title>

        <br />
        <!-- Client Create Form -->
        <form [formGroup]="form">
            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px">
                    <table>
                        <tr>
                            <td colspan="12">
                                <mat-slide-toggle [formControl]="form.controls['publishers']">Постоянный участник
                                </mat-slide-toggle>
                                <br /> <br />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <mat-form-field>
                                    <input type="text" matInput [formControl]="form.controls['firstName']"
                                        placeholder="Имя*" />
                                    <mat-error class="error"
                                        *ngIf="form.controls.firstName.hasError('required') && form.controls.firstName.touched">Поле
                                        не может быть пустым</mat-error>
                                </mat-form-field>
                            </td>
                            <td colspan="4">
                                <mat-form-field>
                                    <input type="text" matInput [formControl]="form.controls['patronymic']"
                                        placeholder="Отчество" />
                                </mat-form-field>
                            </td>
                            <td colspan="4">
                                <mat-form-field>
                                    <input type="text" matInput [formControl]="form.controls['lastName']"
                                        placeholder="Фамилия" />
                                </mat-form-field>

                            </td>
                        </tr>

                        <tr>
                            <td colspan="12">
                                <mat-label>Представляет организацию:</mat-label>
                            </td>
                        </tr>
                        <tr formArrayName="institutes" *ngFor="let _ of institutes.controls; index as i">
                            <ng-container [formGroupName]="i">

                                <td colspan="10" width="60%">
                                    <mat-form-field>
                                        <input type="text" matInput formControlName="name"
                                            [placeholder]="'Организация '  + (i+1)" />
                                    </mat-form-field>
                                </td>
                                <td colspan="1" width="30%">
                                    <mat-form-field>
                                        <mat-label>Категория</mat-label>
                                        <mat-select formControlName="category">

                                            <mat-option *ngFor="let category of categories" [value]="category">
                                                {{ category }}
                                            </mat-option>
                                        </mat-select>

                                        <br />
                                    </mat-form-field>
                                </td>
                                <td width="10%">
                                    <button color="warn" matSuffix mat-icon-button (click)="deleteInstituteControl(i)">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                        </tr>

                        <tr>
                            <td colspan="6">
                                <button mat-stroked-button color="primary" matSuffix (click)="addInstituteControl()">
                                    Добавить организацию
                                </button>
                                <br />
                                <br />
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td colspan="3">
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input type="text" matInput [formControl]="form.controls['email']"
                                        placeholder="elena85@ya.ru" />
                                    <mat-error class="error" *ngIf="form.controls.email.hasError('email')">Неверный
                                        формат
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <td colspan="3">
                                <mat-form-field>
                                    <mat-label>Номер телефона</mat-label>
                                    <input type="text" matInput [formControl]="form.controls['phoneNumber']"
                                        placeholder="+79031234567" />
                                    <mat-error class="error"
                                        *ngIf="form.controls.phoneNumber.hasError('phoneNumberFormat')">Неверный
                                        формат</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <mat-form-field>
                                    <mat-label>WhatsApp</mat-label>
                                    <input type="text" matInput [formControl]="form.controls['whatsApp']"
                                        placeholder="+79031234567" />
                                    <mat-error class="error"
                                        *ngIf="form.controls.whatsApp.hasError('phoneNumberFormat')">Неверный формат
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <td colspan="3">
                                <mat-form-field>
                                    <mat-label>Телеграм</mat-label>
                                    <input type="text" matInput [formControl]="form.controls['telegram']"
                                        placeholder="@daisy или +79031234567 или #1234567890" />
                                    <mat-error class="error"
                                        *ngIf="form.controls.telegram.hasError('telegramFormat')">Неверный формат
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <mat-form-field>
                                    <mat-label>Вконтакте</mat-label>
                                    <input type="text" matInput [formControl]="form.controls['vKontakte']"
                                        placeholder="https://vk.com/id1234567 или https://vk.com/daisy" />
                                    <mat-error class="error"
                                        *ngIf="form.controls.vKontakte.hasError('vKontakteFormat')">Неверный формат
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <td colspan="3">
                                <mat-form-field>
                                    <mat-label>Instagram</mat-label>
                                    <input type="text" matInput [formControl]="form.controls['instagram']"
                                        placeholder="https://www.instagram.com/daisy" />
                                    <mat-error class="error"
                                        *ngIf="form.controls.instagram.hasError('instagramFormat')">Неверный формат
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <mat-form-field>
                                    <mat-label>Facebook</mat-label>
                                    <input type="text" matInput [formControl]="form.controls['facebook']"
                                        placeholder="https://www.facebook.com/daisy" />
                                    <mat-error class="error"
                                        *ngIf="form.controls.facebook.hasError('fbFormat')">Неверный формат
                                    </mat-error>
                                </mat-form-field>
                                <br />
                                <br />
                            </td>
                            <td colspan="3">
                                <mat-form-field>
                                    <mat-label>Другой контакт</mat-label>
                                    <input type="text" matInput [formControl]="form.controls['otherContact']"
                                        placeholder="все, что не подошло выше" />
                                </mat-form-field>
                                <br />
                                <br />
                            </td>
                        </tr>


                    </table>

                    <table>
                        <tr>
                            <td colspan="12">
                                <mat-label>Адрес:</mat-label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <mat-form-field>
                                    <mat-label>Страна</mat-label>
                                    <mat-select [formControl]="form.controls['country']">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let country of countries" [value]="country">
                                            {{ country }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>

                            <td colspan="4">
                                <mat-form-field>
                                    <input type="text" matInput [formControl]="form.controls['region']"
                                        placeholder="Регион" />
                                </mat-form-field>

                            </td>
                            <td colspan="4">

                                <mat-form-field>
                                    <input type="text" matInput [formControl]="form.controls['city']"
                                        placeholder="Город" />
                                </mat-form-field>

                            </td>
                        </tr>
                    </table>
                    <br />

                    <table>
                        <tr>
                            <td colspan="12">
                                <mat-label>Переписывается с:</mat-label>
                            </td>
                        </tr>
                        <tr formArrayName="correspondents" *ngFor="let _ of correspondents.controls; index as i">
                            <ng-container [formGroupName]="i">

                                <td colspan="4" width="40%">
                                    <mat-form-field>
                                        <mat-label>Интернат</mat-label>
                                        <mat-select formControlName="nursingHome" (selectionChange)="onSelectHome(i)">

                                            <mat-option *ngFor="let nursingHome of nursingHomes" [value]="nursingHome">
                                                {{ nursingHome }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td colspan="7" width="60%">
                                    <mat-form-field>
                                        <mat-label>ФИО</mat-label>
                                        <mat-select formControlName="fullName">
                                            <mat-option *ngFor="let senior of seniors[i]" [value]="senior">
                                                {{ senior.lastName + ' ' + senior.firstName + ' ' + senior.patronymic +
                                                ' ' + senior.yearBirthday}}
                                            </mat-option>
                                        </mat-select>

                                        <br />
                                    </mat-form-field>
                                </td>
                                <td width="10%">
                                    <button color="warn" matSuffix mat-icon-button
                                        (click)="deleteCorrespondentControl(i)">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <button mat-stroked-button color="primary" matSuffix
                                    (click)="addCorrespondentControl()">
                                    Добавить друга по переписке
                                </button>
                                <br />
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12">
                                <mat-form-field>
                                    <textarea type="text" matInput [formControl]="form.controls['comments']"
                                        placeholder="Комментарий"></textarea>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>



                    <table>
                        <tr>
                            <td width="30%">
                                <mat-slide-toggle [formControl]="form.controls['isRestricted']"
                                    (change)="  handleValidations()">Требует особого внимания</mat-slide-toggle>
                            </td>
                        </tr>
                        <tr *ngIf="form.controls['isRestricted'].value">
                            <td>
                                <mat-form-field>
                                    <textarea type="text" matInput [formControl]="form.controls['causeOfRestriction']"
                                        placeholder="Причина"></textarea>
                                    <mat-error class="error"
                                    *ngIf="form.controls.causeOfRestriction.hasError('required') && form.controls.causeOfRestriction.touched">
                                        Поле не может быть пустым</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr *ngIf="form.controls['isRestricted'].value">

                            <td>
                                <mat-form-field>
                                    <mat-label>Ограничения</mat-label>
                                    <mat-select [formControl]="form.controls['preventiveAction']">

                                        <mat-option *ngFor="let action of preventiveActions" [value]="action">
                                            {{ action }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error class="error"
                                    *ngIf="form.controls.preventiveAction.hasError('required') && form.controls.preventiveAction.touched">
                                        Поле не может быть пустым</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>



                </div>
            </mat-card-content>

            <br />

            <mat-card-actions align="end">
                <button mat-raised-button (click)="cancel()" color="primary">Cancel</button>
                <button type="submit" mat-raised-button color="accent" [disabled]="!form.valid"
                    (click)="create()">Submit</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>