

<div fxLayout="row" fxLayoutAlign="center start" class='main'>
  <div fxFlex="60%">
    <div fxLayout="row">
      <div fxLayout="column" class="left">

        <img class="about-img" src="../../../assets/bob_about.png" alt="About Bob" />

        <h1 class="about-bob">We are Bob's Computer Repair Shop</h1>

      </div>

      <div fxLayout="column" class="right">
        <div fxLayout="row" class="header">
          <h1>About Us</h1>
        </div>

        <div fxLayout="row" class="text">
          <p class="about-text">
            In 2008, Bob started a computer repair shop to help pay for his son's college tuition.
            Since then Bob's Computer Repair Shop has grown over 600%. Bob was becoming overwhelmed
            with the number of phone calls he was receiving, so he hired four web development students from Bellevue
            University
            to help create and maintain his website. At Bob's Computer Repair Shop we vow to keep your system up and
            running
            at its best, so that you can perform at your best!
            Bob's Computer Repair Shop is your one stop shop for computer repairs, and
            all of are services are competitively priced to fit your budget.
            Some of our services include: Password resets, Spyware removal, RAM upgrades,
            Keyboard cleaning, and more!
          </p>
        </div>
        <div fxLayout="row" class = "icons">
          <a href="https://github.com/lucash0331/bobs-computer-repair-shop-group" class="contact"><i
              class="fa fa-github-square"></i></a>
          <a href="https://www.linkedin.com/school/bellevue-university/" class="contact"><i
              class="fa fa-linkedin-square"></i></a>
          <a href="https://www.linkedin.com/school/bellevue-university/" class="contact"><i
              class="fa fa-instagram"></i></a>
          <a href="https://www.facebook.com/BellevueUniversity" class="contact"><i
              class="fa fa-facebook-square"></i></a>
        </div>


      </div>
    </div>
  </div>
</div>
