<!--
============================================
 html code for ClientListComponent.
===========================================
-->
<br />
<br />
<div fxLayout="column">
    <mat-card>
        <mat-card-title>Список поздравляющих координатора {{ userName }}</mat-card-title>
        <br />
        <br />
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
        <p-toast position="center"></p-toast>

        <table width="95%">
            <tr>
                <td width="50%">
                    <mat-slide-toggle *ngIf="!isShowFound" 
                        (click)="changeShow($event) ">Показывать
                        только постоянных </mat-slide-toggle>
                    <!--             <button mat-stroked-button color="primary" routerLink="/dataSource/create/new">
                Новая заявка
            </button> 
            <button *ngIf="isShowSubs && !isShowFound" mat-raised-button color="accent" (click)="changeShow($event)">
                Только подписчики
            </button>
            <button *ngIf="!isShowSubs && !isShowFound" mat-raised-button color="primary" (click)="changeShow($event)">
                Показать всех
            </button>-->
                </td>
                <td width="50%">
                    <mat-form-field class = "search">
                        <mat-label>Поиск</mat-label>
                        <button matPrefix mat-icon-button (click)="searchClient(valueToSearch)" color="primary">
                            <mat-icon style="font-size: 20px;">search</mat-icon>
                        </button>
                        <input appearance="fill" matInput type="text" [(ngModel)]="valueToSearch"
                            (change)="isShowFound = false" (keydown.enter)="searchClient(valueToSearch)">

                        <button *ngIf="valueToSearch" matSuffix mat-icon-button (click)="clearSearch($event)"
                            color="primary">
                            <mat-icon style="font-size: 20px;">close</mat-icon>
                        </button>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <br />
        <mat-card-content>
            <mat-table [dataSource]="clients" class="mat-elevation-z4">
                <!-- Name Column -->
                <ng-container matColumnDef="fullName">
                    <mat-header-cell *matHeaderCellDef> ФИО </mat-header-cell>
                    <mat-cell *matCellDef="let client">
                        <mat-list role="list">
                            <mat-list-item role="listitem"> {{ client.firstName + " " + (client.patronymic ?
                                client.patronymic : '') + " " + (client.lastName ? client.lastName : '') }}
                            </mat-list-item> </mat-list> </mat-cell>
                </ng-container>



                <!-- Phone Column -->
                <ng-container matColumnDef="contacts">
                    <mat-header-cell *matHeaderCellDef> Контакты </mat-header-cell>
                    <mat-cell *matCellDef="let client">
                        <mat-list role="list">

                            <mat-list-item role="listitem" *ngIf="client.email"><span class="hint">email:</span>{{ " " +
                                client.email }}
                            </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="client.phoneNumber"><span
                                    class="hint">phoneNumber:</span>{{
                                " " +
                                client.phoneNumber }} </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="client.whatsApp"><span class="hint">whatsApp:</span>{{
                                " " + client.whatsApp }}
                            </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="client.telegram"><span class="hint">telegram:</span>{{
                                " " + client.telegram }}
                            </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="client.vKontakte"><span
                                    class="hint">vKontakte:</span>{{
                                " " + client.vKontakte
                                }} </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="client.instagram"><span
                                    class="hint">instagram:</span>{{
                                " " + client.instagram
                                }} </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="client.facebook"><span class="hint">facebook:</span>{{
                                " " + client.facebook }}
                            </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="client.otherContact"><span
                                    class="hint">другой:</span>{{ " "+
                                client.otherContact }} </mat-list-item>
                        </mat-list></mat-cell>
                </ng-container>


                <!-- Phone Column -->
                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef> Адрес </mat-header-cell>
                    <mat-cell *matCellDef="let client">
                        <mat-list role="list">

                            <mat-list-item role="listitem" *ngIf="client.country">{{client.country }}
                            </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="client.region">{{ client.region }} </mat-list-item>
                            <mat-list-item role="listitem" *ngIf="client.city">{{ client.city }}
                            </mat-list-item>
                        </mat-list> </mat-cell>
                </ng-container>


                <!-- Phone Column -->
                <ng-container matColumnDef="comments">
                    <mat-header-cell *matHeaderCellDef> Комментарий </mat-header-cell>

                    <mat-cell *matCellDef="let client"> <mat-list role="list">
                            <mat-list-item role="listitem"> {{ client.comments }} </mat-list-item> </mat-list>
                    </mat-cell>
                </ng-container>

                <!-- Phone Column -->
                <ng-container matColumnDef="institutes">
                    <mat-header-cell *matHeaderCellDef> Организации </mat-header-cell>
                    <mat-cell *matCellDef="let client">
                        <mat-list role="list">
                            <mat-list-item role="listitem" *ngFor="let institute of client.institutes">
                                {{institute.name }}
                            </mat-list-item> </mat-list>
                    </mat-cell>
                </ng-container>

                <!-- Phone Column -->
                <ng-container matColumnDef="correspondents">
                    <mat-header-cell *matHeaderCellDef> Переписка </mat-header-cell>
                    <mat-cell *matCellDef="let client">
                        <mat-list role="list">
                            <mat-list-item role="listitem" *ngFor="let correspondent of client.correspondents">
                                {{correspondent.fullName + " " + correspondent.nursingHome}}
                            </mat-list-item> </mat-list>
                    </mat-cell>

                </ng-container>

                <!-- Address Column -->
                <ng-container matColumnDef="publishers">
                    <mat-header-cell *matHeaderCellDef> Подписка </mat-header-cell>
                    <mat-cell *matCellDef="let client">
                        <mat-list role="list">
                            <mat-list-item role="listitem" *ngFor="let publisher of client.publishers">
                                {{publisher}}
                            </mat-list-item> </mat-list>
                    </mat-cell>
                </ng-container>


                <!-- Address Column -->
                <ng-container matColumnDef="isRestricted">
                    <mat-header-cell *matHeaderCellDef> Ограничения </mat-header-cell>
                    <mat-cell *matCellDef="let client"> {{ client.preventiveAction }} </mat-cell>
                </ng-container>



                <!-- Edit Column -->
                <ng-container matColumnDef="edit">
                    <mat-header-cell *matHeaderCellDef> Просмотреть </mat-header-cell>
                    <mat-cell *matCellDef="let client">
                        <mat-icon routerLink="/clients/update/{{ client._id }}" color="primary"
                            class="icon-cursor">pageview
                        </mat-icon>
                    </mat-cell>
                </ng-container>

                <!-- Delete Column -->
                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef> Удалить </mat-header-cell>
                    <mat-cell *matCellDef="let client">
                        <button mat-icon-button (click)="moveToDisabled(client._id, isShowSubs)">
                            <mat-icon color="warn">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
        </mat-card-content>
        <mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" [length]="length" [pageSize]="pageSize"
            (page)="onChangedPage($event)"></mat-paginator>
        <mat-card-subtitle>
            <button *ngIf="!isShowFound" mat-stroked-button color="primary" routerLink="/clients/create/new">Создать
                новую карточку</button>
        </mat-card-subtitle>
    </mat-card>
</div>