<!--
============================================
; Title: WEB450 Bob's Computer Repair SHop
; Author: Professor Krasso
; Date: April 29, 2022
; Modified By: House Gryffindor
; Description: Bob's Computer Repair Shop App html code to reset a password.
===========================================
-->

<div fxLayout="column" class="main-div">
  <mat-card fxFlex class="mat-elevation-z8 main-container">
    <mat-card-title>Reset your Password</mat-card-title>
    <h3>Use strong password.</h3>
    <mat-card-content>
      <mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutGap="10px">
        <form
          [formGroup]="form"
          (ngSubmit)="resetPassword()"
          #resetPasswordForm
        >
          <mat-card-content>
            <mat-form-field fxFlex appearance="fill">
              <mat-label for="pswPassword" id="lblpassword"
                >New password</mat-label
              >
              <input
                type="password"
                matInput
                [formControl]="form.controls['password']"
                id="pswPassword"
                name="pswPassword"
              />
              <mat-error
                class="error"
                *ngIf="
                  form.controls.password.hasError('required') &&
                  form.controls.password.touched
                "
                >You must enter a new password.</mat-error
              >
              <mat-error
                class="error"
                *ngIf="
                  form.controls.password.hasError('pattern') &&
                  form.controls.password.touched
                "
                >Password must be at least 8 characters, contain one letter, and
                one number!</mat-error
              >
            </mat-form-field>
          </mat-card-content>

          <mat-card-actions>
            <button class="cancel" (click)="cancel()" mat-raised-button>
              Cancel
            </button>
            <button class="submit" [disabled]="!form.valid" mat-raised-button>
              Submit
            </button>
          </mat-card-actions>
        </form>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
