<!--
============================================
; Title: WEB450 Bob's Computer Repair SHop
; Author: Professor Krasso
; Date: May 5, 2022
; Modified By: House Gryffindor
; Description: Bob's Computer Repair Shop App - User Profile
===========================================
-->

<div fxLayout="column" class="profile-div">
    <mat-card fxFlex class="mat-elevation-z8 profile-container">

        <p-toast position="center"></p-toast>
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

        <mat-card-actions>
            <!--             <button class="cancel" (click)="close()" mat-raised-button>
                Закрыть
            </button> -->
            <a href="javascript:history.back()">Закрыть</a>

        </mat-card-actions>
        <mat-card-content *ngIf="order" style="margin-left: 60px;">
            <div fxLayout="column" fxLayoutGap="10px">
                <mat-card-subtitle>Дата: {{order.orderDate}}</mat-card-subtitle>
                <mat-card-subtitle>Праздник: {{order.holiday}} </mat-card-subtitle>
                <mat-card-subtitle>Координатор: {{order.userName}} </mat-card-subtitle>
                <mat-card-subtitle>Количество: {{order.amount}}</mat-card-subtitle>
                <mat-card-subtitle>Поздравляющий: {{fullName}} </mat-card-subtitle>
                <mat-card-subtitle>Контактная информация: {{contact}} </mat-card-subtitle>
                <mat-card-subtitle>{{needAccepting}} </mat-card-subtitle>
                <mat-card-subtitle>Комментарий: {{order.comment}} </mat-card-subtitle>
                <br />
                <br />


                <mat-card-title>Список поздравляемых
                </mat-card-title>


                <mat-card fxFlex class="mat-elevation-z8 list-container">
                    <section *ngIf="!order.isOverdue && !order.isReturned && isNotOnlyOne && isNotLate"
                        style="text-align: right;">
                        <button
                            *ngIf="(!isEdit && order.institutes.length == 0) || (!isEdit && (userRole != 'dobroru' || userRole != 'admin'))"
                            mat-raised-button (click)="editList()" color="accent">Редактировать</button>
                        <button *ngIf="isEdit" mat-raised-button (click)="viewList()" color="primary">К
                            просмотру</button>
                    </section>
                    <mat-card-content *ngFor="let lineItem of order.lineItems">


                        <p style="font-weight: bold; margin: 0; ">{{lineItem.address}}</p>
                        <!--                  <p *ngIf="order.institutes.length > 0 && (userRole != 'dobroru' && userRole != 'admin')" style="font-weight: bold; margin: 0;">
                            {{lineItem.celebrators.length}} откр.: {{lineItem.Female}} жен. + {{lineItem.Male}} муж.</p>

                        <section *ngIf="order.institutes.length == 0 || userRole == 'dobroru' || userRole == 'admin'"> -->
                        <p *ngIf="lineItem.infoComment" style="font-style: italic; margin: 0;">{{lineItem.infoComment ? lineItem.infoComment :
                            ""}}
                        </p>
                        <p *ngIf="lineItem.adminComment" style="color: red; font-weight: bold; margin: 0;">{{lineItem.adminComment ?
                            lineItem.adminComment : ""}}</p>

                        <div *ngFor="let celebrator of lineItem.celebrators">
                            <button mat-icon-button style="color: red;" *ngIf="isEdit && isNotOnlyOne"
                                (click)="deleteDestination(celebrator._id)">
                                <mat-icon> cancel</mat-icon>
                            </button>
                            <span *ngIf="order.holiday != 'День семьи 2024'">
                                <!--   <span >{{celebrator.index}}. </span> -->
                                <!--   {{userRole != 'dobroru' ? celebrator.lastName : ''}} -->
                                <span>{{celebrator.index}}. </span>
                                {{celebrator.lastName}}
                                {{celebrator.firstName}}
                                {{celebrator.patronymic}}
                                <!--  {{order.holiday == 'Новый год 2026' ? celebrator.yearBirthday : ''}} -->
                                {{(order.holiday == 'Дни рождения января 2026' || order.holiday == 'Дни рождения февраля 2026' || order.holiday == 'Дни рождения марта 2026') ? celebrator.fullDayBirthday : ''}} 
                                {{(order.holiday == 'Дни рождения января 2026' ||  order.holiday == 'Дни рождения февраля 2026' || order.holiday == 'Дни рождения июня 2024') ?  (celebrator.specialComment ?
                            celebrator.specialComment : "")  : ''}}
                                {{order.holiday == 'Именины февраля 2025' ? celebrator.nameDay : ''}}
                                {{celebrator.comment1}}
                                <!--     {{userRole != 'dobroru' ? celebrator.linkPhoto: ''}}  -->
                                <!--                 {{celebrator._id}}             -->
                                <!-- <span style="font-weight: bold; color: rgb(175, 19, 175); "> {{ order.holiday !=
                                    'Именины февраля 2025' && userRole != 'dobroru' ? celebrator.specialComment :
                                    ''}}
                                </span>  -->
                          <!--       <span *ngIf="order.source == 'subscription'">
                                    -
                                    {{celebrator.veteran}}
                                    {{celebrator.child}}

                                </span> -->
                                <span style="font-weight: bold; color: rgb(255, 0, 0); "
                                    *ngIf="celebrator.absentComment">
                                    {{ celebrator.absentComment}}
                                </span>
                            </span>

                            <span *ngIf="order.holiday == 'День семьи 2024'">

                                {{celebrator.husbandLastName}} {{celebrator.husbandFirstName}}
                                {{celebrator.husbandPatronymic}} ({{celebrator.husbandYearBirthday}}) и
                                {{celebrator.wifeLastName}}
                                {{celebrator.wifeFirstName}}
                                {{celebrator.wifePatronymic}} ({{celebrator.wifeYearBirthday}}) {{celebrator.comment1}}

                            </span>

                        </div>
                        <!--                   </section> -->

                        <br />
                    </mat-card-content>


                    <!--                     <mat-card-content *ngFor="let lineItem of order.lineItems">

                        <div *ngFor="let celebrator of lineItem.celebrators">
                            {{celebrator.lastName}}
                            {{celebrator.firstName}}
                            {{celebrator.patronymic}}

                            <p style=" margin: 0; ">{{lineItem.address + (celebrator.comment1 ? ", " +
                                celebrator.comment1 : '')}}</p>
                            <br />
                        </div>

                    </mat-card-content> -->

                    <!--                     <mat-card-content *ngFor="let lineItem of order.lineItems">

                        <div *ngFor="let celebrator of lineItem.celebrators">
                            {{lineItem.nursingHome}}
                            *
                            {{celebrator.lastName}}
                            {{celebrator.firstName}}
                            {{celebrator.patronymic}}
                            *

                  {{lineItem.address}}
                            <br />
                        </div>

                    </mat-card-content> -->

                </mat-card>
            </div>
        </mat-card-content>

    </mat-card>


</div>