/**
============================================
; Title: WEB450 Bob's Computer Repair SHop
; Author: Professor Krasso
; Date: April 23, 2022
; Modified By: House Gryffindor
; Description: Bob's Computer Repair Shop App style for signinComponent
;===========================================
*/
.main {
  width: 70%;
  height: 100%;
  background-color: #F2F2F2;
  background-image: url("src/assets/signin.jpg");
  background-repeat: no-repeat;
  margin: 0px auto;
  
}

.signin-div {
  margin: 0px auto;
  width: 40%;

}

.signin-container {
 margin-top: 180px;

  text-align: center;
}

.title {
  padding: 10px;
  color: primary;
  text-align: left;
}

.msg-error {
  color: red;
  padding-top: 10px !important;
}

button {
  background-color: #fbc02d;
  color: whitesmoke;
}

mat-label {
  color: grey;
}

mat-tab-body {
  padding-top: 10px;
}

.change-password {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

:hover.change-password {
  text-decoration: underline;
  color: black;
}
