<!--
============================================
; Title: WEB450 Bob's Computer Repair SHop
; Author: Professor Krasso
; Date: April 23, 2022
; Modified By: House Gryffindor
; Description: Bob's Computer Repair Shop App html code for BaseLayoutComponent.
===========================================
-->
<div fxLayout="column">
  <!-- navigation -->

  <mat-toolbar class="toolbar mat-primary">
    <mat-toolbar-row class="mat-elevation-z4">
      <div fxLayout="row" fxFlex style="border-bottom: 3px">
        <div class="logo" fxLayoutAlign="start center" fxFlex="10" routerLink="/">
          <img class="nav-logo" src="../../../assets/LOGO.png" height="50px" />
          <h1>&nbsp;Проект "Внуки по переписке: Поздравить открыткой"</h1>
        </div>
        <div fxLayoutAlign="end center" fxFlex="85">

          <!-- 
                 <button *ngIf="!isDobroru" class="navbar-link" routerLink="/orders/new-year" mat-button>Новый год</button> 

             <button *ngIf="!isDobroru" class="navbar-link" routerLink="/orders/senior-day" mat-button>День ПЧ</button>  
          <button *ngIf="!isDobroru" class="navbar-link" routerLink="/orders/teacher-day" mat-button>День учителя</button>
         
        
                   <button *ngIf="!isDobroru" class="navbar-link" routerLink="/orders/may9" mat-button>9 мая</button>  -->
          <!--  <button *ngIf="!isDobroru" class="navbar-link" routerLink="/orders/family-day" mat-button>День семьи</button>  -->

          <!--   <button *ngIf="!isDobroru" class="navbar-link" routerLink="/orders/easter" mat-button>Пасха</button>-->
          <button *ngIf="!isDobroru" class="navbar-link" routerLink="/orders/march-8" mat-button>8 марта</button>
          <button *ngIf="!isDobroru" class="navbar-link" routerLink="/orders/february-23" mat-button>23 февраля</button>
          <button *ngIf="isDobroru || isAdmin" class="navbar-link" routerLink="/orders/dobroru/march-8" mat-button>8
            МАРТА</button>
          <button *ngIf="isDobroru || isAdmin" class="navbar-link" routerLink="/orders/dobroru/february-23"
            mat-button>23 ФЕВРАЛЯ</button>
          <!--  <button *ngIf="isDobroru || isAdmin" class="navbar-link" routerLink="/orders/dobroru/may9"
          mat-button>9 МАЯ</button>-->
          <button *ngIf="isDobroru || isAdmin" class="navbar-link" routerLink="/orders/dobroru/happy-birthday"
            mat-button>ДНИ РОЖДЕНИЯ</button>
          <!--    <button *ngIf="isDobroru || isAdmin" class="navbar-link" routerLink="/orders/dobroru/new-year" mat-button>НОВЫЙ ГОД</button>

                  <button *ngIf="isAdmin" class="navbar-link" routerLink="/orders/name-day" mat-button>Именины</button> -->
          <button *ngIf="!isDobroru" class="navbar-link" routerLink="/orders/birthday" mat-button>ДР</button>
          <button class="navbar-link" routerLink="/orders/find/{{userName}}" mat-button>Мои заявки</button>
        </div>
        <div *ngIf="isLoggedIn" fxLayoutAlign="end center" fxFlex="5">
          <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="User Profile Menu">
            <mat-icon>perm_identity</mat-icon>
          </button>
          <mat-menu #profileMenu>
            <p style="padding: 10px">Вы вошли как {{ name }}</p>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="redirectToProfile()">
              <mat-icon color="primary">settings</mat-icon>
              <span>Профайл</span>
            </button>
            <!-- admin-locked -->

            <button *ngIf="isAdmin" mat-menu-item (click)="redirectToLists()">
              <mat-icon color="primary">list</mat-icon>
              <span>Списки</span>
            </button>
            <!--   <button *ngIf="isAdmin  || isManager || isDobroru" mat-menu-item (click)="redirectToNYLists()">
              <mat-icon color="primary">list</mat-icon>
              <span>Списки НГ</span>
            </button> -->
            <button *ngIf="isAdmin  || isManager || isDobroru" mat-menu-item (click)="redirectToSpringLists()">
              <mat-icon color="primary">list</mat-icon>
              <span>Списки 23 и 8</span>
            </button>
            <!--        <button *ngIf="isAdmin" mat-menu-item (click)="redirectToEasterLists()">
              <mat-icon color="primary">list</mat-icon>
              <span>Списки Пасха</span>
            </button>
            <button *ngIf="isAdmin" mat-menu-item (click)="redirectToVeteransLists()">
              <mat-icon color="primary">list</mat-icon>
              <span>Списки 9 мая</span>
            </button> -->
            <button *ngIf="isAdmin" mat-menu-item (click)="redirectToCheck()">
              <mat-icon color="primary">bug_report</mat-icon>
              <span>Проверка списка</span>
            </button>
            <button *ngIf="isAdmin || isManager" mat-menu-item (click)="redirectToUpdateLists()">
              <mat-icon color="primary">backup</mat-icon>
              <span>Обновление</span>
            </button>
            <!--             <button *ngIf="isAdmin" mat-menu-item (click)="redirectToInstaOrders()">
              <mat-icon color="primary">folder_open</mat-icon>
              <span>Группа заявок</span>
            </button> -->
            <button *ngIf="isAdmin" mat-menu-item (click)="redirectToUploadHBOrders()">
              <mat-icon color="primary">cake</mat-icon>
              <span>Группа заявок ДР</span>
            </button>
            <button *ngIf="isAdmin" mat-menu-item (click)="redirectToUploadNYOrders()">
              <mat-icon color="primary">celebration</mat-icon>
              <span>Группа заявок НГ</span>
            </button>
            <button *ngIf="isAdmin" mat-menu-item (click)="redirectToAllOrders()">
              <mat-icon color="primary">receipt</mat-icon>
              <span>Все заявки</span>
            </button>
            <button *ngIf="isAdmin" mat-menu-item (click)="redirectToAllAbsents()">
              <mat-icon color="primary">warning</mat-icon>
              <span>Все выбывшие</span>
            </button>
            <button mat-menu-item (click)="redirectToClients()">
              <mat-icon color="primary">mail</mat-icon>
              <span>Поздравляющие</span>
            </button>
            <button *ngIf="isAdmin || isManager" mat-menu-item (click)="redirectToSeniors()">
              <mat-icon color="primary">group</mat-icon>
              <span>Поздравляемые</span>
            </button>
            <button *ngIf="isAdmin || isManager" mat-menu-item routerLink="/houses">
              <mat-icon color="primary">house</mat-icon>
              <span>Интернаты</span>
            </button>
            <button mat-menu-item routerLink="/reports">
              <mat-icon color="primary">summarize</mat-icon>
              <span>Статистика и отчеты</span>
            </button>
            <button *ngIf="isAdmin" mat-menu-item routerLink="/user">
              <mat-icon color="primary">person</mat-icon>
              <span>Пользователи</span>
            </button>
            <button *ngIf="isAdmin" mat-menu-item routerLink="/roles">
              <mat-icon color="primary">build</mat-icon>
              <span>Роли</span>
            </button>
            <!-- to here -->
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="signOut()">
              <mat-icon color="primary">logout</mat-icon>
              <span>Выйти</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <hr class="top-line" />

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <div id="content-wrap">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{ year | date: "yyyy" }} - OksanaKustova -
          <a href="https://starikam.org/" class="bu-link" target="_blank">БФ помощи пожилым людям и инвалидам "Старость
            в радость"</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>