/**
============================================
style
;===========================================
*/

.main {
    margin: 10px auto;
    width: 95%;
    
  }

  .mat-card {
    padding: 35px;
  }
  
  .mat-card-actions {
    text-align: center;
  }
  
  .title {
    padding: 10px;
    color: primary;
    text-align: left;
  }
  
  .msg-error {
    color: red;
    padding-top: 10px !important;
  }
  
  button.submit {
    background-color: #fbc02d;
    color: whitesmoke;
    width: 20%;
    margin-left: 10%;
  }
  
  button.cancel {
    border-color: #ef5350;
    color: #ef5350;
    width: 20%;
  }
  
  .mat-form-field {
    width: 100%;
    
  }
  .wrapper {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .left {
    grid-column: 1 / 2;
    grid-row: 1;
    min-height: 100%;
  
  }
  .right {
    grid-column: 2 / 2;
    grid-row: 1;
    min-height: 100%;
  }
  
  .bottom {
    margin-bottom: 30px;
  }

  td {
    padding-right: 8px;
  }

  .example-full-width {
    width: 100%;
  }

  .example-half-width {
    width: 70%;
  }
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align {
    margin-right: 8px;
  }  

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .mat-form-field + .mat-form-field,
.mat-raised-button {
  margin-left: 8px;
}