<!--
============================================
 html code for Component
===========================================
-->
<br />
<br />
<div fxLayout="column">
    <mat-card>
        <mat-card-title>Поздравление с НГ</mat-card-title>
        <br /><br />
        <p-toast position="center"></p-toast>
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

        <mat-card-subtitle>
            <button mat-stroked-button color="primary" (click)="generateNewYearList()">
                Добавить списки
            </button>
        </mat-card-subtitle>

        <mat-card-content>
            <mat-table [dataSource]="houses" class="mat-elevation-z4">

                <ng-container matColumnDef="check">
                    <mat-header-cell *matHeaderCellDef> Выбрать </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef> Кол-во </mat-header-cell>
                    <mat-cell *matCellDef="let house">
                        {{house.statistic.newYear.amount }}<br />

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="statistic1">
                    <mat-header-cell *matHeaderCellDef> Плюсы </mat-header-cell>
                    <mat-cell *matCellDef="let house">

                        {{"plus0" + " : " + house.statistic.newYear.plus0 }}<br />
                        {{"plus1" + " : " + house.statistic.newYear.plus1 }}<br />
                        {{"plus2" + " : " + house.statistic.newYear.plus2 }}<br />
                        {{"plus3" + " : " + house.statistic.newYear.plus3 }}<br />
                        <!--                         {{"plus4" + " : " + house.statistic.newYear.plus4 }}<br />
                        {{"plus5" + " : " + house.statistic.newYear.plus5 }}<br />                        
 -->

                        {{"forInstitute" + " : " + house.statistic.newYear.forInstitute }}<br />
                        {{"forNavigators" + " : " + house.statistic.newYear.forNavigators }}<br />
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="statistic2">
                    <mat-header-cell *matHeaderCellDef> Поздр-е </mat-header-cell>
                    <mat-cell *matCellDef="let house">

                        <span *ngIf="!house.noAddress">
                            {{"oldWomen" + " : " + house.statistic.newYear.oldWomen }}<br />
                            {{"oldMen" + " : " + house.statistic.newYear.oldMen }}<br />
                            {{"yangWomen" + " : " + house.statistic.newYear.yangWomen }}<br />
                            {{"yangMen" + " : " + house.statistic.newYear.yangMen }}<br />
                        </span>
                        <span *ngIf="house.noAddress">
                            {{"specialWomen" + " : " + house.statistic.newYear.specialWomen}}<br />
                            {{"specialMen" + " : " + house.statistic.newYear.specialMen }}<br />
                        </span>

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="statistic3">
                    <mat-header-cell *matHeaderCellDef> Плюсы по кат-м </mat-header-cell>
                    <mat-cell *matCellDef="let house">

                        <span *ngIf="!house.noAddress">
                            {{"oldWomen" + " : " +
                            (house.statistic.newYear.oldWomenPlus/house.statistic.newYear.oldWomen).toFixed(2)
                            }}<br />
                            {{"oldMen" + " : " +
                            (house.statistic.newYear.oldMenPlus/house.statistic.newYear.oldMen).toFixed(2) }}<br />
                            {{"yangWomen" + " : " +
                            (house.statistic.newYear.yangWomenPlus/house.statistic.newYear.yangWomen).toFixed(2)
                            }}<br />
                            {{"yangMen" + " : " +
                            (house.statistic.newYear.yangMenPlus/house.statistic.newYear.yangMen).toFixed(2) }}<br />
                        </span>
                        <span *ngIf="house.noAddress">
                            {{"specialWomen" + " : " +
                            (house.statistic.newYear.specialWomenPlus/house.statistic.newYear.specialWomen).toFixed(2)
                            }}<br />
                            {{"specialMen" + " : " +
                            (house.statistic.newYear.specialMenPlus/house.statistic.newYear.specialMen).toFixed(2)
                            }}<br />
                        </span>

                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="isActive">
                    <mat-header-cell *matHeaderCellDef> Участие </mat-header-cell>
                    <mat-cell *matCellDef="let house"> {{ house.isActive}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nursingHome">
                    <mat-header-cell *matHeaderCellDef> Краткое название </mat-header-cell>
                    <mat-cell *matCellDef="let house"> {{ house.nursingHome }} {{house.notes}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="noAddress">
                    <mat-header-cell *matHeaderCellDef> БОА </mat-header-cell>
                    <mat-cell *matCellDef="let house"> {{ house.noAddress }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="isReleased">
                    <mat-header-cell *matHeaderCellDef> Специнтернат </mat-header-cell>
                    <mat-cell *matCellDef="let house"> {{ house.isReleased }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="region">
                    <mat-header-cell *matHeaderCellDef> Регион </mat-header-cell>
                    <mat-cell *matCellDef="let house"> {{ house.region}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dateLastUpdate">
                    <mat-header-cell *matHeaderCellDef> Список обновлен</mat-header-cell>
                    <mat-cell *matCellDef="let house"> {{ house.dateLastUpdateClone }} </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
        </mat-card-content>
        <!-- Add button to create new house in the mat-card-subtitle below -->


    </mat-card>
</div>