<mat-card class="mat-elevation-z0">
    <mat-card-title> Формирование списка ДР октября 2023 </mat-card-title>

    <br />

    <mat-card-actions>

        <button class="submit" (click)="deleteList()" mat-raised-button color='warn'>Очистить список ДР</button>
        <!--   <button class="submit" (click)="prepareSeniorsList()" mat-raised-button>Подготовить коллекцию</button> -->

        <button class="submit" (click)="deleteDoubleList()" mat-raised-button color='warn'>Очистить дубли ДР</button>


<!--         <button class="submit" (click)="populateSeniors()" mat-raised-button>Добавить жителей</button>
        <button class="submit" (click)="addHouses()" mat-raised-button>Добавить интернаты</button> -->
        <br /><br /><br />
        <button class="submit" (click)="generateBirthday()" mat-raised-button>Сформировать список ДР</button>
        <button class="submit" (click)="showBirthdayList($event)" mat-raised-button>Показать список ДР</button>
        <button class="submit" (click)="showLessPlus($event)" mat-raised-button>Показать список меньше 2+</button>
        <button class="submit" (click)="showUncertainList($event)" mat-raised-button>Показать сомнительных</button>
        <br /><br /><br />
        <button class="submit" (click)=" generateNextBirthday()" mat-raised-button>Сформировать список ДР следующего месяца</button>
        <br /><br /><br />
        <button class="submit" (click)="generateNameDay()" mat-raised-button>Сформировать список именин</button>
        <button class="submit" (click)="showNameDayList($event)" mat-raised-button>Показать список именин</button>
        <br /><br /><br />

        <button class="submit" (click)="showFamilyDayList($event)" mat-raised-button>Показать список семей</button>
        <br /><br /><br />

        <button class="submit" (click)="showAmountOfVolunteers($event)" mat-raised-button>Показать волонтеров</button>
        <br /><br /><br />

        <button class="submit" (click)="correctOrdersDates($event)" mat-raised-button>Скорректировать даты в заявках</button>
        <br /><br /><br />


              <button class="submit" (click)="generateTeacherDay()" mat-raised-button>Сформировать список ДУ</button>
        <button class="submit" (click)="showTeacherDayList($event)" mat-raised-button>Показать список ДУ</button> 
        <!--         <button class="submit" (click)="generateNewYearList()" mat-raised-button>Сформировать список Пасха</button>
        <button class="submit" (click)="showNewYearList($event)" mat-raised-button>Показать список Пасха</button>
        <button class="submit" (click)="showLessPlusNewYearList($event)" mat-raised-button>Показать список меньше
            1+</button>
        <br /><br /><br />
        <button class="submit" (click)="generate9mayList()" mat-raised-button>Сформировать список 9 мая</button>
        <button class="submit" (click)="show9mayList($event)" mat-raised-button>Показать список 9 мая</button>
        <button class="submit" (click)="showLess9mayList($event)" mat-raised-button>Показать список меньше
            1+</button>
        <br /><br /><br />

        <button class="submit" (click)="generateFebruary23List()" mat-raised-button>Сформировать список 23</button>
        <button class="submit" (click)="showFebruary23List($event)" mat-raised-button>Показать список 23</button>
        <button class="submit" (click)="showLessPlusFebruary23List($event)" mat-raised-button>Показать список 23 меньше
            1+</button>
        <br /><br /><br />
        <button class="submit" (click)="generateMarch8List()" mat-raised-button>Сформировать список 8</button>
        <button class="submit" (click)="showMarch8List($event)" mat-raised-button>Показать список 8</button>
        <button class="submit" (click)="showLessPlusMarch8List($event)" mat-raised-button>Показать список 8 меньше
            1+</button> -->
        <br /><br /><br />

        <button class="submit" (click)="showSpecialList($event)" mat-raised-button>Сформировать список по
            запросу</button>

        <br /><br /><br />
    </mat-card-actions>

    <mat-card-content *ngIf="isShowList">
        <p>Общее количество - {{listLength}}</p>
        <p>oldWomen - {{oldWomen}}</p>
        <p>oldMen - {{oldMen}}</p>
        <p>yangWomen - {{yangWomen}}</p>
        <p>yangMen - {{yangMen}}</p>
        <p>specialWomen - {{specialWomen}}</p>
        <p>specialMen - {{specialMen}}</p>
        <p>oldest - {{oldest}}</p>
        <p>Общее количество с запасом - {{listLength+oldest}}</p>


        <mat-list *ngFor="let person of lists">

            <mat-list-item>{{person.plusAmount}} {{person.lastName}} {{person.firstName}} {{person.patronymic}}
                {{person.fullDayBirthday ? person.fullDayBirthday : person.yearBirthday}} {{person.comment1}}
                {{person.veteran ? person.veteran : "" }} {{person.child
                ? person.child : "" }}
                {{person.specialComment ? person.specialComment : ""}} {{person.linkPhoto}} {{person.category}}
                {{person.noAddress}} {{person.oldest}} {{person.gender}} {{person.nursingHome}} <span
                    style="color: red;" *ngIf="person.absent"> ВЫБЫЛ(А)</span></mat-list-item>

        </mat-list>

        <!--         <mat-list *ngFor="let person of lists">
   
                 <mat-list-item> {{person.lastName}} {{person.firstName}} {{person.patronymic}}
 {{person.nursingHome}} <span style= "color: red;"*ngIf="person.absent"> ВЫБЫЛ(А)</span></mat-list-item>

         </mat-list> -->


    </mat-card-content>


    <mat-card-content *ngIf="isShowSpecialList">
        <p>Общее количество - {{listLength}}</p>

        <mat-card-content *ngFor="let lineItem of lists">

            <p style="font-weight: bold; margin: 0;">{{lineItem.address}}</p>
            <p style="font-style: italic; margin: 0;" *ngIf="lineItem.infoComment">{{lineItem.infoComment}}</p>
            <p style="color: red; font-weight: bold; margin: 0;" *ngIf="lineItem.adminComment">
                {{lineItem.adminComment}}</p>

            <div *ngFor="let celebrator of lineItem.celebrators">
                <!--   <mat-icon font-size="1px">brightness_1</mat-icon> -->

                {{celebrator.lastName}}
                {{celebrator.firstName}}
                {{celebrator.patronymic}}
                {{celebrator.dateBirthday}}.{{celebrator.monthBirthday}}.{{celebrator.yearBirthday}}
                <!--                 ({{celebrator.specialComment}})
                {{celebrator.nameDay}} -->
                {{celebrator.comment1}}
                <!--  {{celebrator.comment2}} -->
                {{celebrator.linkPhoto}}

            </div>
            <br />
        </mat-card-content>

    </mat-card-content>

    <mat-card-content *ngIf="isShowFamilyDayList">
        <p>Общее количество - {{listLength}}</p>

        <mat-list *ngFor="let family of lists">

            <mat-list-item>{{family.plusAmount}} {{family.husbandLastName}} {{family.husbandFirstName}}
                {{family.husbandPatronymic}}
                {{family.wifeLastName}} {{family.wifeFirstName}} {{family.wifePatronymic}} {{family.nursingHome}}
            </mat-list-item>

        </mat-list>

    </mat-card-content>

    <mat-card-content *ngIf="isShowAmountOfVolunteers">
        <p>Общее количество - {{amountOfVolunteers}}</p>

  
    </mat-card-content>

    <mat-card-content *ngIf="isShowAListOfUncertain">
        <p>Общее количество - {{listOfUncertainLength}}</p>
        


        <mat-list *ngFor="let person of listOfUncertain">

            <mat-list-item>{{person.plusAmount}} {{person.lastName}} {{person.firstName}} {{person.patronymic}}
                {{person.fullDayBirthday ? person.fullDayBirthday : person.yearBirthday}} {{person.comment1}}
                {{person.veteran ? person.veteran : "" }} {{person.child
                ? person.child : "" }}
                {{person.specialComment ? person.specialComment : ""}} {{person.linkPhoto}} {{person.category}}
                {{person.noAddress}} {{person.oldest}} {{person.gender}} {{person.nursingHome}} <span
                    style="color: red;" *ngIf="person.absent"> ВЫБЫЛ(А)</span></mat-list-item>

        </mat-list>

        <!--         <mat-list *ngFor="let person of lists">
   
                 <mat-list-item> {{person.lastName}} {{person.firstName}} {{person.patronymic}}
 {{person.nursingHome}} <span style= "color: red;"*ngIf="person.absent"> ВЫБЫЛ(А)</span></mat-list-item>

         </mat-list> -->


    </mat-card-content>
</mat-card>