<mat-card class="mat-elevation-z0">
    <mat-card-title> Формирование списков на поздравление </mat-card-title>

    <br />

    <mat-card-actions>

        <!--    <button class="submit" (click)="deleteList()" mat-raised-button color='warn'>Очистить список ДР</button>
       <button class="submit" (click)="prepareSeniorsList()" mat-raised-button>Подготовить коллекцию</button>

        <button class="submit" (click)="deleteDoubleList()" mat-raised-button color='warn'>Очистить дубли ДР</button> -->


        <!--         <button class="submit" (click)="populateSeniors()" mat-raised-button>Добавить жителей</button>
        <button class="submit" (click)="addHouses()" mat-raised-button>Добавить интернаты</button> -->
        <br /><br /><br />
        <button class="submit" (click)="generateBirthday()" mat-raised-button>Сформировать список ДР</button>
        <button class="submit" (click)="showBirthdayList($event)" mat-raised-button>Показать список ДР</button>
        <button class="submit" (click)="showLessPlus($event)" mat-raised-button>Показать список меньше 2+</button>
        <br /><br /><br />
        <button class="submit" (click)="showUncertainList($event)" mat-raised-button>Показать сомнительных</button>
        <br /><br /><br />
        <button class="submit" (click)=" generateNextBirthday()" mat-raised-button>Сформировать список ДР следующего
            месяца</button>
        <br /><br /><br />
        <button class="submit" (click)="generateNameDay(8)" mat-raised-button>Сформировать список именин</button>
        <button class="submit" (click)="showNameDayList($event)" mat-raised-button>Показать список именин</button>
        <button class="submit" (click)="generateNameDay(9)" mat-raised-button>Сформировать список именин следующего
            месяца</button>
        <br /><br /><br />

        <!--         <button class="submit" (click)="showFamilyDayList($event)" mat-raised-button>Показать список семей</button>
        <br /><br /><br /> -->
        <button class="submit" (click)="showAmountOfVolunteers($event)" mat-raised-button>Отчет за июнь 2024</button>
        <br /><br /><br />
        <!--         <button class="submit" (click)="correctOrdersDates($event)" mat-raised-button>Скорректировать даты в заявках</button>
        <br /><br /><br /> -->
        <!-- 
        <button class="submit" (click)="countSeniors($event)" mat-raised-button>Посчитать поздравляемых</button>
        <br /><br /><br />
 -->
        <!--  <button class="submit" (click)="showNewYearList($event)" mat-raised-button>Показать список НГ</button>-->

        <button class="submit" (click)="restorePluses('birthday')" mat-raised-button>Восстановить плюсы ДР</button>

<!--         <button class="submit" (click)="restorePluses('easter')" mat-raised-button>Восстановить плюсы Пасха</button>
        <button class="submit" (click)="restorePluses('veterans')" mat-raised-button>Восстановить плюсы 9 мая</button> -->
        <!-- 
        <button class="submit" (click)="generateTeacherDay()" mat-raised-button>Сформировать список ДУ</button>
        <button class="submit" (click)="showTeacherDayList($event)" mat-raised-button>Показать список ДУ</button> -->
        <!--         <button class="submit" (click)="generateNewYearList()" mat-raised-button>Сформировать список Пасха</button>
       
        <button class="submit" (click)="showLessPlusNewYearList($event)" mat-raised-button>Показать список меньше
            1+</button>
        <br /><br /><br />
        <button class="submit" (click)="generate9mayList()" mat-raised-button>Сформировать список 9 мая</button>


        <button class="submit" (click)="generateFebruary23List()" mat-raised-button>Сформировать список 23</button>
            <button class="submit" (click)="generateMarch8List()" mat-raised-button>Сформировать список 8</button>
  


        <button class="submit" (click)="showFebruary23List($event)" mat-raised-button>Показать список 23</button>
        <button class="submit" (click)="showLessPlusFebruary23List($event)" mat-raised-button>Показать список 23 меньше
            1+</button>
        <br /><br /><br />  

        <button class="submit" (click)="showMarch8List($event)" mat-raised-button>Показать список 8</button>
        <button class="submit" (click)="showLessPlusMarch8List($event)" mat-raised-button>Показать список 8 меньше
            1+</button> 
        <br /><br /><br />-->

        <!--      <button class="submit" (click)="generateEasterList()" mat-raised-button>Сформировать список Пасха</button> -->
        <button class="submit" (click)="showEasterList($event)" mat-raised-button>Показать список Пасха</button>
        <button class="submit" (click)="showLessPlusEasterList($event)" mat-raised-button>Показать список меньше
            1+</button>
        <br /><br /><br />

        <button class="submit" (click)="show9mayList($event)" mat-raised-button>Показать список 9 мая</button>
        <button class="submit" (click)="showLess9mayList($event)" mat-raised-button>Показать список меньше
            1+</button>
        <br /><br /><br />

        <button class="submit" (click)="showSpecialList($event)" mat-raised-button>Сформировать список по
            запросу</button>

        <br /><br /><br />
        <!-- 
         <button class="submit" (click)="addSearchArray()" mat-raised-button>Добавить строку поиска</button>

        <br /><br /><br /> 

        <button class="submit" (click)="restoreContacts()" mat-raised-button>Восстановить координаторов</button>

        <br /><br /><br />  -->

        <!--         <button class="submit" (click)="moveInstitutes()" mat-raised-button>Организации в массив</button>

        <br /><br /><br /> -->

        <!--         <button class="submit" (click)="correctContacts()" mat-raised-button>Коррекция контактов</button>

        <br /><br /><br /> -->

        <button class="submit" (click)="takeClients()" mat-raised-button [disabled]="disableTakeClients">Создать
            карточки поздравляющих</button>

        <br /><br /><br />

        <h3 *ngIf='!disableCheckClient'>Проверяется список из {{clientsList.length}} клиентов</h3>

        <button class="submit" (click)="checkClient()" mat-raised-button [disabled]="disableCheckClient">Проверить
            клиента</button>

        <br /><br /><br />

    </mat-card-actions>

    <mat-card-content *ngIf="isShowList">
        <p>Общее количество - {{listLength}} - 100%</p>
        <p>oldWomen - {{oldWomen}} - {{oldWomen/listLength*100}}</p>
        <p>oldMen - {{oldMen}} - {{oldMen/listLength*100}}</p>
        <p>yangWomen - {{yangWomen}} - {{yangWomen/listLength*100}}</p>
        <p>yangMen - {{yangMen}} - {{yangMen/listLength*100}}</p>
        <p>specialWomen - {{specialWomen}} - {{specialWomen/listLength*100}}</p>
        <p>specialMen - {{specialMen}} - {{specialMen/listLength*100}}</p>
        <p>oldest - {{oldest}}</p>
        <p>Общее количество с запасом - {{listLength+oldest}}</p>


        <mat-list *ngFor="let person of lists">

            <mat-list-item>{{person.plusAmount}} {{person.lastName}} {{person.firstName}} {{person.patronymic}}
                {{person.fullDayBirthday ? person.fullDayBirthday : person.yearBirthday}} {{person.comment1}}
                {{person.veteran ? person.veteran : "" }} {{person.child
                ? person.child : "" }}
                {{person.specialComment ? person.specialComment : ""}} {{person.linkPhoto}} {{person.category}}
                {{person.noAddress}} {{person.oldest}} {{person.gender}} * {{person.nursingHome}} <span
                    style="color: red;" *ngIf="person.absent"> ВЫБЫЛ(А)</span></mat-list-item>

        </mat-list>

        <!--         <mat-list *ngFor="let person of lists">
   
                 <mat-list-item> {{person.lastName}} {{person.firstName}} {{person.patronymic}}
 {{person.nursingHome}} <span style= "color: red;"*ngIf="person.absent"> ВЫБЫЛ(А)</span></mat-list-item>

         </mat-list> -->


    </mat-card-content>


    <mat-card-content *ngIf="isShowSpecialList">
        <p>Общее количество - {{listLength}}</p>
       
        <mat-card-content *ngFor="let lineItem of lists"> 

               <p style="font-weight: bold; margin: 0;">{{lineItem.address}}</p>
            <p style="font-style: italic; margin: 0;" *ngIf="lineItem.infoComment">{{lineItem.infoComment}}</p>
            <p style="color: red; font-weight: bold; margin: 0;" *ngIf="lineItem.adminComment">
                {{lineItem.adminComment}}</p> 

        <div *ngFor="let celebrator of lineItem.celebrators">
            <!--   <mat-icon font-size="1px">brightness_1</mat-icon> 
            <span>{{celebrator.index}}. </span>-->
            {{celebrator.lastName}}
          <!--   {{celebrator.nursingHome}} -->
            {{celebrator.firstName}}
            {{celebrator.patronymic}}
            <!--         <span *ngIf="celebrator.yearBirthday > 0 ">- {{celebrator.yearBirthday}} г.р.</span> -->
            {{celebrator.dateBirthday}}.{{celebrator.monthBirthday}}.{{celebrator.yearBirthday}}
<!--             ({{celebrator.specialComment}}) -->
            <!--     {{celebrator.nameDay}} -->
                {{celebrator.comment1}} 
              <!--{{lineItem.infoComment}}
            {{celebrator.comment2}} -->
            <!-- {{celebrator.linkPhoto}}-->

        </div>
        <br />
    </mat-card-content>

     </mat-card-content>

    <mat-card-content *ngIf="isShowFamilyDayList">
        <p>Общее количество - {{listLength}}</p>

        <mat-list *ngFor="let family of lists">

            <mat-list-item>{{family.plusAmount}} {{family.husbandLastName}} {{family.husbandFirstName}}
                {{family.husbandPatronymic}}
                {{family.wifeLastName}} {{family.wifeFirstName}} {{family.wifePatronymic}} {{family.nursingHome}}
            </mat-list-item>

        </mat-list>

    </mat-card-content>

    <mat-card-content *ngIf="isShowAmountOfVolunteers">
        <p>в проекте принимают участие {{amountOfHouses}} интернатов из {{amountOfRegions}} регионов </p>
        <p>с ДР июля поздравили {{celebratorsHBAmount}} чел., отправили {{plusesHBAmount}} откр. </p>
        <p>с Именинами июля поздравили {{celebratorsNDAmount}} чел., отправили {{plusesNDAmount}} откр. </p>
                <p>с Пасхой поздравили {{celebratorsEasterAmount}} чел., отправили  {{plusesEasterAmount}} откр. </p>
               <p>с 9 мая поздравили {{celebratorsMay9Amount}} чел., отправили  {{plusesMay9Amount}} откр. </p> 
        <p>в поздравлениях приняли участие {{volunteersAmount}} поздравляющих, в т.ч. {{schoolsAmount}} образовательных
            учреждения и {{institutesAmount}} организаций
        </p>
        <!--        <p>Общее количество - {{amountOfVolunteers}}</p> -->


    </mat-card-content>
    <mat-card-content *ngIf="isShowAmountOfSeniors">
        <p>Общее количество - {{amountOfSeniors}}</p>


    </mat-card-content>

    <mat-card-content *ngIf="isShowAListOfUncertain">
        <p>Общее количество - {{listOfUncertainLength}}</p>



        <mat-list *ngFor="let person of listOfUncertain">

            <mat-list-item>{{person.plusAmount}} {{person.lastName}} {{person.firstName}} {{person.patronymic}}
                {{person.fullDayBirthday ? person.fullDayBirthday : person.yearBirthday}} {{person.comment1}}
                {{person.veteran ? person.veteran : "" }} {{person.child
                ? person.child : "" }}
                {{person.specialComment ? person.specialComment : ""}} {{person.linkPhoto}} {{person.category}}
                {{person.noAddress}} {{person.oldest}} {{person.gender}} {{person.nursingHome}} <span
                    style="color: red;" *ngIf="person.absent"> ВЫБЫЛ(А)</span></mat-list-item>

        </mat-list>

        <!--         <mat-list *ngFor="let person of lists">
   
                 <mat-list-item> {{person.lastName}} {{person.firstName}} {{person.patronymic}}
 {{person.nursingHome}} <span style= "color: red;"*ngIf="person.absent"> ВЫБЫЛ(А)</span></mat-list-item>

         </mat-list> -->


    </mat-card-content>
    <h3> {{index}}</h3>
    <mat-card-content *ngIf="isNewClient">
        <h4>{{newClient.dateCreated}}</h4>
        <h4>
            Создан новый поздравляющий
        </h4>
        <div>{{newClient._id}}</div>
        <div>{{newClient.firstName}} {{newClient.patronymic}} {{newClient.lastName}}</div>
        <div>email: {{newClient.email}}</div>
        <div>telegram: {{newClient.telegram}}</div>
        <div>phoneNumber: {{newClient.phoneNumber}}</div>
        <div>whatsApp: {{newClient.whatsApp}}</div>
        <div>vKontakte: {{newClient.vKontakte}}</div>
        <div>instagram: {{newClient.instagram}}</div>
        <div>facebook: {{newClient.facebook}}</div>
        <div>institutes:
            <span *ngFor="let institute of newClient.institutes">{{institute.name}} {{institute.category}};</span>
        </div>
        <div>publishers:
            <span *ngFor="let publisher of newClient.publishers">{{publisher}};</span>
        </div>
        <div>coordinators:
            <span *ngFor="let coordinator of newClient.coordinators">{{coordinator}};</span>
        </div>

        <div *ngIf="deletedClients.length > 0">Удалены:
            <span *ngFor="let id of deletedClients">
                {{id}}
            </span>
        </div>
    </mat-card-content>



    <mat-card-content *ngIf="isFirstClient">
        <h4>{{firstClient.dateCreated}}</h4>
        <h4>
            Найдены похожие поздравляющие

            <span *ngFor="let id of idOfSimilarClients">
                {{id}}
            </span>
        </h4>

        <h4 *ngIf='isSame'>Расхождений нет</h4>
        <h4 *ngIf='!isSame'>ЕСТЬ РАСХОЖДЕНИЯ</h4>
        <div>Первый найденный - {{firstClient._id}}</div>
        <div>{{firstClient.firstName}} {{firstClient.patronymic}} {{firstClient.lastName}}</div>
        <div *ngIf="firstClient.email">email: {{firstClient.email}}</div>
        <div *ngIf="firstClient.telegram">telegram: {{firstClient.telegram}}</div>
        <div *ngIf="firstClient.phoneNumber">phoneNumber: {{firstClient.phoneNumber}}</div>
        <div *ngIf="firstClient.whatsApp">whatsApp: {{firstClient.whatsApp}}</div>
        <div *ngIf="firstClient.vKontakte">vKontakte: {{firstClient.vKontakte}}</div>
        <div *ngIf="firstClient.instagram">instagram: {{firstClient.instagram}}</div>
        <div *ngIf="firstClient.facebook">facebook: {{firstClient.facebook}}</div>
        <div>institutes:
            <span *ngFor="let institute of firstClient.institutes">{{institute.name}} {{institute.category}};</span>
        </div>
        <div>publishers:
            <span *ngFor="let publisher of firstClient.publishers">{{publisher}};</span>
        </div>
        <div>coordinators:
            <span *ngFor="let coordinator of firstClient.coordinators">{{coordinator}};</span>
        </div>

        <ng-container *ngIf="!isSame">
            <h4>Выберите данные:</h4>
            <div *ngIf="controversialData.clientFirstName.length > 0">
                <label id="example-radio-group-label">clientFirstName</label>
                <mat-radio-group class="example-radio-group" [(ngModel)]="accepted_clientFirstName">
                    <mat-radio-button class="example-radio-button"
                        *ngFor="let item of controversialData.clientFirstName" [value]="item">
                        {{item}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="controversialData.clientPatronymic.length > 0">
                <label id="example-radio-group-label">clientPatronymic</label>
                <mat-radio-group class="example-radio-group" [(ngModel)]="accepted_clientPatronymic">
                    <mat-radio-button class="example-radio-button"
                        *ngFor="let item of controversialData.clientPatronymic" [value]="item">
                        {{item}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="controversialData.clientLastName.length > 0">
                <label id="example-radio-group-label">clientLastName</label>
                <mat-radio-group class="example-radio-group" [(ngModel)]="accepted_clientLastName">
                    <mat-radio-button class="example-radio-button" *ngFor="let item of controversialData.clientLastName"
                        [value]="item">
                        {{item}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="controversialData.email.length > 0">
                <label id="example-radio-group-label">email</label>
                <mat-radio-group class="example-radio-group" [(ngModel)]="accepted_email">
                    <mat-radio-button class="example-radio-button" *ngFor="let item of controversialData.email"
                        [value]="item">
                        {{item}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="controversialData.telegram.length > 0">
                <label id="example-radio-group-label">telegram</label>
                <mat-radio-group class="example-radio-group" [(ngModel)]="accepted_telegram">
                    <mat-radio-button class="example-radio-button" *ngFor="let item of controversialData.telegram"
                        [value]="item">
                        {{item}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="controversialData.phoneNumber.length > 0">
                <label id="example-radio-group-label">phoneNumber</label>
                <mat-radio-group class="example-radio-group" [(ngModel)]="accepted_phoneNumber">
                    <mat-radio-button class="example-radio-button" *ngFor="let item of controversialData.phoneNumber"
                        [value]="item">
                        {{item}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="controversialData.whatsApp.length > 0">
                <label id="example-radio-group-label">whatsApp</label>
                <mat-radio-group class="example-radio-group" [(ngModel)]="accepted_whatsApp">
                    <mat-radio-button class="example-radio-button" *ngFor="let item of controversialData.whatsApp"
                        [value]="item">
                        {{item}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="controversialData.vKontakte.length > 0">
                <label id="example-radio-group-label">vKontakte</label>
                <mat-radio-group class="example-radio-group" [(ngModel)]="accepted_vKontakte">
                    <mat-radio-button class="example-radio-button" *ngFor="let item of controversialData.vKontakte"
                        [value]="item">
                        {{item}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="controversialData.instagram.length > 0">
                <label id="example-radio-group-label">instagram</label>
                <mat-radio-group class="example-radio-group" [(ngModel)]="accepted_instagram">
                    <mat-radio-button class="example-radio-button" *ngFor="let item of controversialData.instagram"
                        [value]="item">
                        {{item}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="controversialData.facebook.length > 0">
                <label id="example-radio-group-label">facebook</label>
                <mat-radio-group class="example-radio-group" [(ngModel)]="accepted_facebook">
                    <mat-radio-button class="example-radio-button" *ngFor="let item of controversialData.facebook"
                        [value]="item">
                        {{item}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <button class="submit" (click)="saveClient()" mat-raised-button>Сохранить изменения</button>
        </ng-container>

    </mat-card-content>

</mat-card>