<mat-card class="mat-elevation-z0">
    <mat-card-title> Формирование списка ДР ноября 2022 </mat-card-title>

    <br />

    <mat-card-actions>

         <button class="submit" (click)="deleteList()" mat-raised-button color = 'warn'>Очистить список ДР</button>
     <!--   <button class="submit" (click)="prepareSeniorsList()" mat-raised-button>Подготовить коллекцию</button> -->

        <button class="submit" (click)="deleteDoubleList()" mat-raised-button color = 'warn'>Очистить дубли ДР</button>
     

        <button class="submit" (click)="populateSeniors()" mat-raised-button>Добавить жителей</button>
        <button class="submit" (click)="addHouses()" mat-raised-button>Добавить интернаты</button>
        <br /><br /><br />
        <button class="submit" (click)="generateBirthday()" mat-raised-button>Сформировать список ДР</button>  
        <button class="submit" (click)="showBirthdayList($event)" mat-raised-button>Показать список ДР</button>
        <button class="submit" (click)="showLessPlus($event)" mat-raised-button>Показать список меньше 2+</button>
        <br /><br /><br />
        <button class="submit" (click)="generateNameDay()" mat-raised-button>Сформировать список именин</button>
        <button class="submit" (click)="showNameDayList($event)" mat-raised-button>Показать список именин</button>
        <br /><br /><br />
        <button class="submit" (click)="generateTeacherDay()" mat-raised-button>Сформировать список ДУ</button>
        <button class="submit" (click)="showTeacherDayList($event)" mat-raised-button>Показать список ДУ</button>
    </mat-card-actions>

    <mat-card-content *ngIf="isShowList">
        <p>Общее количество - {{listLength}}</p>
        <p>oldWomen - {{oldWomen}}</p>
        <p>oldMen - {{oldMen}}</p>
        <p>yang - {{yang}}</p>
        <p>special - {{special}}</p>
        <p>oldest - {{oldest}}</p>
        <p>Общее количество с запасом - {{listLength+oldest}}</p>
    

        <mat-list *ngFor="let person of lists">
           <!--  <mat-list-item> {{list.period}}</mat-list-item> 
            <mat-list *ngFor="let person of list.celebrators">-->
                <mat-list-item>{{person.plusAmount}} {{person.lastName}} {{person.firstName}} {{person.patronymic}}
                    {{person.fullDayBirthday}} {{person.comment1}}
                    {{person.specialComment}} {{person.linkPhoto}} {{person.category}} 
                    {{person.noAddress}} {{person.oldest}} {{person.gender}} {{person.nursingHome}} <span style= "color: red;"*ngIf="person.absent"> ВЫБЫЛ(А)</span></mat-list-item>
<!--             </mat-list> -->
        </mat-list>


    </mat-card-content>
</mat-card>